body{
  font-family: 'Poppins',sans-serif;
  color: white;
  padding: 0;
  background-color: hsl(257, 40%, 49%);
  margin: 0;
}

h1{
  font-size: 3rem;
}

.bg-lines{
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: left top;
  margin: 0;
  width: 1440px;
  height: 900px;
  padding: 30px 60px;
}

.title-logo{
  padding: 30px 0 103px ;
}

.text-container{
  width: 500px;
  display: block;
  float: right;
  text-align: left;
  padding: 50px 0;
  line-height: 1.5;
}

.text-container p{
  line-height: 1.7;
  font-size: 1.15rem;
}

.illustration{
  width: 900px;
  display: block;
  float: left;
}

.registerButton{
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  border: 0;
  padding: 4% 14%;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  position: relative;
  top: 30px;
  -webkit-box-shadow: -2px 5px 10px 1px rgba(0,0,0,0.5);
}

.red{
  display: block;
  float: left;
}

.social{
  border: solid 2px;
  border-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
  display: inline-block;
  position: relative;
  left: 350px;
  top: 200px;
}

.facebook-icon{
  width: 10px;
  height: 20px;
  padding: 10px 10px 10px 15px;
}

.twitter-icon{
  width: 25px;
  height: 25px;
  padding: 8px;
}

.ig-icon{
  width: 20px;
  height: 20px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .title-logo{
    padding: 30px 0 103px;
    text-align: left;
  }
  .bg-lines{
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: left top;
    margin: 0;
    padding: 60px 60px;
    width: 500px;
  }
  .illustration{
    width: 500px;
    display: block;
    padding: 0 10px;
  }
  .text-container{
    width: 500px;
    display: block;
    float: right;
    text-align: center;
    padding: 50px 10px 50px 30px;
    line-height: 1.5;
  }
  body{
    text-align: center;
  }
  h1{
    padding-left: 30px 60px;
  }
  .social{
    display: inline-block;
    position: relative;
    left: 140px;
    top: 20px;
    margin: 40px 10px;
  }
}
